<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>首页--工作台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/resources/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/resources/css/public.css" media="all"/>
    <script src="/resources/js/echarts.min.js"></script>

    <!--<script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>-->

</head>
<body class="childrenBody">
<blockquote class="layui-elem-quote layui-bg-green">
    <div id="nowTime"></div>
</blockquote>

<div class="layui-btn-container">
    <button type="button" class="layui-btn">饼</button>
    <button type="button" class="layui-btn layui-btn-normal">状</button>
    <button type="button" class="layui-btn layui-btn-warm">图</button>
    <button type="button" class="layui-btn layui-btn-danger">表</button>
</div>
<div id="jasper_show_echats_bing" style="width: 100%;height:500px;"></div>
<br>
<div class="layui-btn-container">
    <button type="button" class="layui-btn">图</button>
    <button type="button" class="layui-btn layui-btn-normal">表</button>
    <button type="button" class="layui-btn layui-btn-warm">展</button>
    <button type="button" class="layui-btn layui-btn-danger">示</button>
</div>
<div id="jasper_show_echats_1" style="width: 100%;height:500px;"></div>
<div id="jasper_show_echats_2" style="width: 100%;height:500px;"></div>
<div id="jasper_show_echats_3" style="width: 100%;height:500px;"></div>
<div id="jasper_show_echats_4" style="width: 100%;height:500px;"></div>
<div id="jasper_show_echats_5" style="width: 100%;height:500px;"></div>
<div id="jasper_show_echats_6" style="width: 100%;height:500px;"></div>
<div id="jasper_show_echats_7" style="width: 100%;height:500px;"></div>
<div id="jasper_show_echats_8" style="width: 100%;height:500px;"></div>
<div id="jasper_show_echats_9" style="width: 100%;height:500px;"></div>
<div id="jasper_show_echats_10" style="width: 100%;height:500px;"></div>
<div id="jasper_show_echats_11" style="width: 100%;height:500px;"></div>
<div id="jasper_show_echats_12" style="width: 100%;height:500px;"></div>

<!-- 查看公告的div -->
<div id="desk_viewNewsDiv" style="padding: 10px;display: none;">
    <h2 id="view_title" align="center"></h2>
    <hr>
    <div style="text-align: right;">
        发布人:<span id="view_opername"></span>
        <span style="display: inline-block;width: 20px"></span>
        发布时间:<span id="view_createtime"></span>
    </div>
    <hr>
    <div id="view_content"></div>
</div>

<script type="text/javascript" src="/resources/layui/layui.js"></script>


<script type="text/javascript">

    //获取当前登陆人
    var currentUserName = '[[${session.user.name}]]';

    //获取系统时间
    var newDate = '';
    getLangDate();

    //值小于10时，在前面补0
    function dateFilter(date) {
        if (date < 10) {
            return "0" + date;
        }
        return date;
    }

    function getLangDate() {
        var dateObj = new Date(); //表示当前系统时间的Date对象
        var year = dateObj.getFullYear(); //当前系统时间的完整年份值
        var month = dateObj.getMonth() + 1; //当前系统时间的月份值
        var date = dateObj.getDate(); //当前系统时间的月份中的日
        var day = dateObj.getDay(); //当前系统时间中的星期值
        var weeks = ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"];
        var week = weeks[day]; //根据星期值，从数组中获取对应的星期字符串
        var hour = dateObj.getHours(); //当前系统时间的小时值
        var minute = dateObj.getMinutes(); //当前系统时间的分钟值
        var second = dateObj.getSeconds(); //当前系统时间的秒钟值
        var timeValue = "" + ((hour >= 12) ? (hour >= 18) ? " 晚上" : " 下午" : " 上午"); //当前时间属于上午、晚上还是下午
        newDate = dateFilter(year) + "年" + dateFilter(month) + "月" + dateFilter(date) + "日 " + " " + dateFilter(hour) + ":" + dateFilter(minute) + ":" + dateFilter(second);
        document.getElementById("nowTime").innerHTML = "亲爱的，" + currentUserName + "  " + timeValue + "好！ 欢迎使用 超市管理系统。当前时间为： " + newDate + "　" + week;
        setTimeout("getLangDate()", 1000);
    }

    layui.use(['form', 'element', 'layer', 'jquery'], function () {
        var form = layui.form,
            layer = parent.layer === undefined ? layui.layer : top.layer,
            element = layui.element;
        $ = layui.jquery;
        //上次登录时间【此处应该从接口获取，实际使用中请自行更换】
        $(".loginTime").html(newDate.split("日")[0] + "日</br>" + newDate.split("日")[1]);
        //icon动画
        $(".panel a").hover(function () {
            $(this).find(".layui-anim").addClass("layui-anim-scaleSpring");
        }, function () {
            $(this).find(".layui-anim").removeClass("layui-anim-scaleSpring");
        })
        $(".panel a").click(function () {
            parent.addTab($(this));
        })
        //最新公告列表
        /*$.get("/resources/json/newsList.json",function(data){
            var hotNewsHtml = '';
            for(var i=0;i<5;i++){
                hotNewsHtml += '<tr>'
                    +'<td align="left"><a href="javascript:;"> '+data.data[i].newsName+'</a></td>'
                    +'<td>'+data.data[i].newsTime.substring(0,10)+'</td>'
                    +'</tr>';
            }
            $(".hot_news").html(hotNewsHtml);
            $(".userAll span").text(data.length);
        })*/

        $.get("/notice/loadAllNotice?page=1&limit=10", function (data) {
            var hotNewsHtml = '';
            if (data.count > 0) {
                for (var i = 0; i < data.count; i++) {
                    hotNewsHtml += '<tr onclick="viewNews(' + data.data[i].id + ')">'
                        + '<td align="left"><a href="javascript:;"> ' + data.data[i].title + '</a></td>'
                        + '<td>' + data.data[i].createtime.substring(0, 10) + '</td>'
                        + '</tr>';
                }
            } else {
                hotNewsHtml += '<h3 style="text-align: center">暂无公告！！！</h3>';
            }
            $(".hot_news").html(hotNewsHtml);
            $(".userAll span").text(data.length);
        });

        $.get("/inport/pandian", function (data) {
            var bingchartDom = document.getElementById('jasper_show_echats_bing');
            var bingmyChart = echarts.init(bingchartDom);
            var bingoption = {
                title: {
                    text: '系统业务量展示',
                    subtext: '详情如下',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                },
                series: [
                    {
                        name: '订单盘点',
                        type: 'pie',
                        radius: '50%',
                        data: [
                            {value: data.rukuNumber, name: data.rukuName},
                            {value: data.outkuNumber, name: data.chukuName}
                            // {value: 580, name: '邮件营销'},
                            // {value: 484, name: '联盟广告'},
                            // {value: 300, name: '视频广告'}
                        ],
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };
            bingmyChart.setOption(bingoption);

        });


        $.get("/inport/echarts", function (data) {
            for (var i = 0, l = data.length; i < l; i++) {
                var option = {
                    title: {
                        text: data[i].warehouseName + " - 金额图表"
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: data[i].nameList
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [{
                        data: data[i].valueList,
                        type: 'line',
                        areaStyle: {}
                    }]
                };

                var myChart = echarts.init(document.getElementById('jasper_show_echats_' + (i + 1)));
                myChart.setOption(option);
            }

        });

    });

    function viewNews(id) {
        $.get("/notice/loadNoticeById", {id: id}, function (news) {
            layer.open({
                type: 1,
                title: '查看公告',
                content: $("#desk_viewNewsDiv"),
                area: ['800px', '550px'],
                success: function (index) {
                    $("#view_title").html(news.data.title);
                    $("#view_opername").html(news.data.opername);
                    $("#view_createtime").html(news.data.createtime);
                    $("#view_content").html(news.data.content);
                }
            });
        });
    }

</script>
</body>
</html>